<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FullName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <div class="mb-3">
                <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}.jpg")" 
                    class="employee-img rounded-circle img-fluid" />
            </div>
        </div>
    </div>
</div>